*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.lock
*.iml
hs_err_pid*


out/
.idea_modules/
.gradle/
.idea/
build/
fmandel-backend/.gradle/
fmandel-backend/build/
fmandel-frontend/.gradle/
fmandel-frontend/build/
fmandel-frontend/.idea/
fmandel-frontend/node-modules/
/fmandel-frontend/node_modules/

fmandel-gpu-dll/.vs/*
fmandel-gpu-dll/x64/*
fmandel-gpu-dll/Mandelbrot/x64/*
fmandel-gpu-dll/.vs/MandelbrotLibrary/*
fmandel-gpu-dll/.vs/MandelbrotLibrary/FileContentIndex/*
/fmandel-gpu-dll/cmake-build-release-visual-studio/
/fmandel-gpu-dll/cmake-build-release/
/fmandel-gpu-dll/cmake-build-debug/
